*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:normal;
  line-height:1.5;
  overflow-x:hidden;
}

/************ Home Page ************/
.home-info{
    background: #e5e3e3;
    padding: 10px;
    width: 40%;
    float: left;
    margin-top: 10px;
}
.home-info h1{

}
.home-info p{
    height: 200px;
    overflow: hidden;
    padding: 10px 0 22px 0;
}

@media(min-width: 320px){ 
    .navbar {
        border-radius: 0;
    }
   .navbar .container-fluid .container{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}