.about{
    background: #333;
}

.about h1{
    color: #fff;
    padding-bottom: 10px;
    text-align: left ;
}

.about .jumbotron h3{
    color: #000;
    text-align: left ;
}

.about .jumbotron p{
    text-align: left ;
}