.navbar{
    background-color: #000 !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    border: none !important;
    min-height: 55px !important;
    z-index: 3;
    border-bottom: 2px solid #920707 !important;
}

.navbar  .container{
    padding-left: -15px !important;
    padding-right: -15px !important;
}
.navbar-brand {
    height: 55px;
    padding: 17px 15px !important;
}

.navbar .navbar-nav{
    font-size: 18px;
    padding-top: 2px !important;
    float: right;
    margin-bottom: 0;
}

@media (max-width: 767px){
    .navbar .navbar-nav{
        float: none;
        display: none;
    }
    .navbar .drop-menu{
        font-size: 30px;
        background: #333;
        padding: 5px;
        border-radius: 4px;
        color: #fff;
        position: absolute;
        right: 15px;
        top: 7px;
        transition: all .5s ease-in-out
    }

    .navbar .drop-menu:hover{
        background: #fff;
        color: #000;
    }
}

